header{
    background-color: #0082D1;
    height: 60px;
    display:block;
}

.text-header{
    text-align: center;
    font-size: 34pt;
}

body{
    margin: 20px;
    background: #c4caae;
    font-family: Consolas, sans-serif;
    color: #0082D1;
}

.nice-td td{
    border: 3px solid grey;
    color: #0082D1;
    height: 30px;
    width: 30px;
}

.place{
    position: absolute;
    left: 400px;
    top: 25px;
}

.checkShip{
    width: 35px;
    height: 25px;
}

.you-edit{
    text-align: center;
    font-size: 24pt;
    color: #dc7153;
}

.item{
    border: 1px solid;
    width: 30px;
    height: 30px;
}

.ship{
    width: 30px;
    height: 30px;
    background: chartreuse;
    border: 1px solid;
}

.shipOne{
    width: 30px;
    height: 30px;
    background: chartreuse;
}

.shipDoubleHorizontal{
     width: 60px;
     height: 30px;
     background: chartreuse;
}

.shipDoubleVertical{
    width: 30px;
    height: 60px;
    background: chartreuse;
}

.shipTripleHorizontal{
    width: 90px;
    height: 30px;
    background: chartreuse;
}

.shipTripleVertical{
    width: 30px;
    height: 90px;
    background: chartreuse;
}

.shipFourHorizontal{
    width: 120px;
    height: 30px;
    background: chartreuse;
}

.shipFourVertical{
    width: 30px;
    height: 120px;
    background: chartreuse;
}
.fieldButton{
    width: 29px;
    height: 29px;
    background: #ae3bff;
    border: 1px solid;
}