header{
    background-color: #0082D1;
    height: 60px;
    display:block;
}
.text-header{
    text-align: center;
    font-size: 34pt;
}
body{
    margin: 10px;
    background: #c3cac6;
    font-family: Consolas, sans-serif;
}
.you-edit{
    text-align: center;
    font-size: 24pt;
    color: #dc7153;
}
.item{
    border: 1px solid;
    width: 30px;
    height: 30px;
}
.shipOne{
    width: 30px;
    height: 30px;
    background: chartreuse;
}

.shipDouble{
    width: 60px;
    height: 30px;
    background: chartreuse;
}